
H1{
    text-align: center;
    background-color: rgba(9, 9, 140, 0.943);
    color: aliceblue;
}
.main{
    width: 1200px;
    margin: auto;
}
*{
    margin: 0;
    padding: 0;
    

}
.main{
    width: 40%;
    margin: auto;
}
.container{
    margin: auto;
    text-align: center;
}
label{
    width: 140px;
    display: inline-block;
    margin: 0.2cm;
    font-size: 16px;
}
input {
    padding: 4px;
    margin: 5px;
    width: 9cm;
    
}

.btn{
    width: 80px;
    height: 50px;
}
.card{
    text-align: center;
    width: 50%;
    margin: auto;
}
h1{
    background-color: rgb(26, 26, 116);
    color: whitesmoke;
}
.clone{
    text-align: center;
}

