<div class="filter">
    <span>Filter</span>
    <input type="radio" name="1"value="All"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()">
    <Span>{{'All course('+all+')'}}</Span>
    <input type="radio" name="1" value="Free"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()">
    <Span>{{'Free course('+free+')'}}</Span>
    <input type="radio" name="1" value="Premium"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()">
    <Span>{{'Premium('+Premium+')'}}</Span>
    
</div>
