*{
    margin: 0;
    padding: 0;
    
  
  }
  .main{
    width: 40%;
    margin: auto;
  }
  .btn{
    width: 80px;
    height: 50px;
  }
  .card{
    text-align: center;
    width: 50%;
    margin: auto;
  }
  h1{
    background-color: rgb(26, 26, 116);
    color: whitesmoke;
  }
  .clone{
    text-align: center;
  }
  